<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.android.test.AndroidBasicsStarter"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LifeCycleTest"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="Life Cycle Test" />
        <activity
            android:name=".CalendarTest"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="CalendarTest" />
        <activity
            android:name=".CalendarViewTest"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="CalendarViewTest" />
        <activity
            android:name=".FragmentCalendarTest"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="CalendarViewTest" />
        <activity
            android:name=".PageViewerTest"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="CalendarViewTest" />
        <activity
            android:name=".AppLauncherTest"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="CalendarViewTest" />
        
    </application>

</manifest>